<%- include('partials/header.ejs'); %>


    <h1>Mongoose - A Middleman Between Mongo and Your Express App.</h1>
    <a href="/heroes" style="margin-top: 60px; display: block;">Enter the Hall Of Heroes</a>
<%- include('partials/footer.ejs'); %>